<!DOCTYPE html>
<html>
	<head>
		<title>Log in | Activity Processing</title>
		<link rel="stylesheet" href="../../bower_components/materialize/dist/css/materialize.min.css"/>
		<style>
			a:hover{
				text-decoration:underline;
			}
		</style>
	</head>
	
	<body class='grey lighten-4'>
		<header></header>
		<div class='valign-wrapper' style='height:100vh;'>
			<div class='container valign'>
			<div class='row'>
				<div class='col s12 m6 l4 offset-m3 offset-l4 card'>
						<div class='card-content'>
						<div class='row'>
							<img class='col s8 offset-s2 responsive-img' src='../../Images/logo_dlsu.png'/>
						</div>
						<form class='row'>
							<div class='input-field col s10 offset-s1'>
								<input id='username' type='text'/>
								<label for='username'>Username</label>
							</div>
							<div class='input-field  col s10 offset-s1'>
								<input id='password' type='password'/>
								<label for='password'>Password</label>
							</div>
							<div class='col s10 offset-s1'>
								<button type='submit' class='col s12 btn waves-effect green'>Log in</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
		<footer class='page-footer green'>
			<div class='container'>
				<div class='row'>
					<div class='row col s12 m6 l6'>
						<h5 class='white-text col s12'>Partner organizations</h5>
						<div class='col s4'><img class='responsive-img' src='../../Images/logo_lscs.png'/></div>
						<div class='col s4'><img class='responsive-img' src='../../Images/logo_lscs.png'/></div>
						<div class='col s4'><img class='responsive-img' src='../../Images/logo_lscs.png'/></div>
					</div>
					<div class='row col s12 divider hide-on-large-only'></div>
					<div class='row col s12 m7 l4'>
						<h5 class='white-text'>Contact us</h5>
						<p class='grey-text text-lighten-2'>Other things can be placed here bla bla</p>
					</div>
					<div class='row col s12 divider hide-on-med-and-up'></div>
					<div class='row col s12 m5 l2'>
						<h5 class='white-text'>Other Links</h5>
						<ul>
							<li><a href='#' class='grey-text text-lighten-2'>Link</a></li>
							<li><a href='#' class='grey-text text-lighten-2'>Link</a></li>
							<li><a href='#' class='grey-text text-lighten-2'>Link</a></li>
							<li><a href='#' class='grey-text text-lighten-2'>Link</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class='footer-copyright green darken-1'>
				<div class='container'>
					copyright thing
				</div>
			</div>
		</footer>
		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../../bower_components/materialize/dist/js/materialize.min.js"></script>
	</body>
</html>