<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../bower_components/materialize/dist/css/materialize.min.css"/>
		
		<style>
			@media (min-width: 993px){
				main, nav{
					padding-left: 260px;
					padding-right: 20px;
				}
			}
			
			main{
				padding-top:30px;
			}
			
			.tag{
				border-radius: 3px;
				text-align: center;
			}
			
			.z-depth-0{
				box-shadow:none;
			}
			
			.transparent{
				background-color:transparent;
			}
		</style>
	</head>
	
	<body class='grey lighten-4'>
		<header>
			<nav class='blue darken-3' style='height:150px;'>
				<div class="nav-wrapper">
					<div class='row'>
						<div class='col s10 offset-s1'>
						<span href="#" class="brand-logo" style='line-height:150px;'>La Salle Computer Society</span>
						
						<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
						</div>
					</div>
				</div>
			</nav>
			<ul id="nav-mobile" class="side-nav fixed">
				<li class='blue darken-4 waves-effect' style='height:150px;'><a class='brand-logo' href='#'><img class='responsive-img' src='../../Images/logo_lscs.png'/></a></li>
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<div class="collapsible-header">Pre-activity<i class="mdi-navigation-arrow-drop-down right"></i></div>
							<div class="collapsible-body">
								<ul>
									<li><a href="#!">Pending</a></li>
									<li><a href="#!">For revision</a></li>
									<li><a href="#!">Approved</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<div class="collapsible-header">Post-activity<i class="mdi-navigation-arrow-drop-down right"></i></div>
							<div class="collapsible-body">
								<ul>
									<li><a href="#!">Pending</a></li>
									<li><a href="#!">For revision</a></li>
									<li><a href="#!">Approved</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li><a href="#">Drafts</a></li>
				<li class='divider'></li>
				<li><a href="#">Settings</a></li>
				<li class='divider'></li>
				<li><a href="#">Log out</a></li>
			</ul>
		</header>
		
		<main>
			<div class='row'>
				<div class='col s12'>
					<h5 class='grey-text text-darken-3'><a href="#" class='grey-text text-darken-2'>Pre-activity /</a> <span class='grey-text'>For revision</span></h5>
					<div class='divider' style='margin-bottom:20px;'></div>
					<div class='row'>
						<div class='col s12 m6 l4'>
							<div class='card small waves-effect' style='width:100%;'>
								<div class='row' style='padding-bottom:0px;margin-bottom:0px;'>
									<div class='col s2 green white-text'>EB</div>
									<div class='col s2 green lighten-1 white-text'>FA</div>
									<div class='col s2 red white-text'>SLIFE</div>
									<div class='col s2 green lighten-1 white-text'>CSO</div>
								</div>
								<div class='card-content'>
								<span class='card-title black-text'>Programmers' Quest</span>
								<p class='grey-text' style='padding-bottom:10px;'>Last date modified: 2/1/2015</p>
								<p>Short description about the event will be placed here.</p>
								</div>
							</div>
						</div>
						<div class='col s12 m6 l4'>
							<div class='card small waves-effect' style='width:100%;'>
								<div class='row' style='padding-bottom:0px;margin-bottom:0px;'>
									<div class='col s2 green white-text'>EB</div>
									<div class='col s2 red lighten-1 white-text'>FA</div>
									<div class='col s2 red white-text'>SLIFE</div>
								</div>
								<div class='card-content'>
								<span class='card-title black-text'>LSCS Retreat: Legacy</span>
								<p class='grey-text' style='padding-bottom:10px;'>Last date modified: 1/14/2015</p>
								<p>Short description about the event will be placed here.</p>
								</div>
							</div>
						</div>
						<div class='col s12 m6 l4'>
							<div class='card small waves-effect' style='width:100%;'>
								<div class='row' style='padding-bottom:0px;margin-bottom:0px;'>
									<div class='col s2 green white-text'>EB</div>
									<div class='col s2 green lighten-1 white-text'>FA</div>
									<div class='col s2 green white-text'>SLIFE</div>
									<div class='col s2 red lighten-1 white-text'>CSO</div>
								</div>
								<div class='card-content'>
								<span class='card-title black-text'>C# Programming Tutorial</span>
								<p class='grey-text' style='padding-bottom:10px;'>Last date modified: 1/27/2015</p>
								<p>Short description about the event will be placed here.</p>
								</div>
							</div>
						</div>
						<div class='col s12 m6 l4'>
							<div class='card small waves-effect' style='width:100%;'>
								<div class='row' style='padding-bottom:0px;margin-bottom:0px;'>
									<div class='col s2 red white-text'>EB</div>
									<div class='col s2 red lighten-1 white-text'>FA</div>
									<div class='col s2 red white-text'>SLIFE</div>
									<div class='col s2 red lighten-1 white-text'>CSO</div>
								</div>
								<div class='card-content'>
								<span class='card-title black-text'>Graphic Design Workshop</span>
								<p class='grey-text' style='padding-bottom:10px;'>Last date modified: 2/1/2015</p>
								<p>Short description about the event will be placed here.</p>
								</div>
							</div>
						</div>
						<div class='col s12 m6 l4'>
							<div class='card small waves-effect' style='width:100%;'>
								<div class='row' style='padding-bottom:0px;margin-bottom:0px;'>
									<div class='col s2 green white-text'>EB</div>
									<div class='col s2 green lighten-1 white-text'>FA</div>
									<div class='col s2 red white-text'>SLIFE</div>
									<div class='col s2 red lighten-1 white-text'>CSO</div>
								</div>
								<div class='card-content'>
								<span class='card-title black-text'>Network Labs Company Talk and Tour</span>
								<p class='grey-text' style='padding-bottom:10px;'>Last date modified: 2/1/2015</p>
								<p>Short description about the event will be placed here.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<div id='create-activity-dialog' class='modal'>
			<div class='row'>
				<h4 class='col s12 m8 l10 flow-text'>Create activity</h4>
				<a class='col s6 m2 l1 black-text waves-effect tooltipped' data-position="bottom" data-delay="50" data-tooltip="Link from GOSM"><i class='mdi-editor-insert-link black-text small'></i></a>	
				<a class='col s6 m2 l1 black-text waves-effect tooltipped' data-position="bottom" data-delay="50" data-tooltip="Save as draft"><i class='mdi-content-save black-text small'></i></a>	
			</div>
			<form>
				<div class='input-field row'>
					<input id='activity-title' type='text'/>
					<label for='activity-title'>Title</label>
				</div>
				<div class='input-field row'>
					<textarea id='activity-description' class="materialize-textarea"></textarea>
					<label for='activity-description'>Description</label>
				</div>
				<div class='row'>
					<div class='right-align'>
					<a class='btn-flat waves-effect modal-close'>Cancel</a>
					<a class='btn waves-effect'>Submit</a>
					</div>
				</div>
			</form>
		</div>
		<a class='btn-floating btn-large waves-effect waves-light blue modal-trigger' style='position:fixed;right:15px;bottom:15px;' href='#create-activity-dialog'><i class='mdi-content-add'></i></a>
		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../../bower_components/materialize/dist/js/materialize.min.js"></script>
		<script>
			$(document).ready(function(){
				// Initialize collapse button
				$(".button-collapse").sideNav();
				// Initialize collapsible
				$('.collapsible').collapsible();
				$(".dropdown-button").dropdown({ hover: false });
				 $('.modal-trigger').leanModal();
			});
			
		</script>
	</body>
</html>